{% extends "base.html" %}
{% block title %}Произошла чудовищная ошибка{% endblock %}
{% block body %}
{% if message %}
	<p>{{ message }}</p>
{% else %}
	<p>Произошла чудовищная ошибка!</p>
{% endif %}
<p><a href="{% url 'ghetto index' %}">Пойти отсюда</a></p>
{% endblock%}
