<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=5.0, minimum-scale=0.2">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="shortcut icon" type="image/png" href="/static/icon.png">
		<title>{% block title %}{% endblock %} — архив форума слаерсрушечки</title>
{% block extrahead %}{% endblock %}
		<style>
			body { background-color: #401015; color: #FFDEBA; }
			a { color: #FFAA00; }
			a:hover { color: #FFCC40; }
			a:visited { color: #FFDD90; }
		</style>
	</head>
	<body>
{% block body %}{% endblock %}
	</body>
</html>
