{% extends "base.html" %}
{% block title %}Начало{% endblock %}
{% block body %}
<h1>Aрхив форума слаерсрушечки</h1>
{% for section in sections %}
	<p>
		{% if section.threads %}
			[{{ section.threads }}] <a href="{% url 'ghetto section' section.sid %}">{{ section.display_name }}</a>
		{% else %}
			{{ section.display_name }}
		{% endif %}
		{% if section.display_desc %}
			<br>
			{{ section.display_desc }}
		{% endif %}
	</p>
{% endfor %}
{% endblock%}
