{% extends "base.html" %}
{% block title %}{{ section.display_name }}{% endblock %}
{% block body %}
<p><a href="{% url 'ghetto index' %}">В начало</a></p>
<h1>{{ section.display_name }}</h1>
{% if section.display_desc %}
	<h2>{{ section.display_desc }}</h2>
{% endif %}
{% for thread in threads %}
	<p>[{{ thread.posts }}] <a href="{% url 'ghetto thread' thread.tid %}">{{ thread.title }}</a></p>
{% endfor %}
{% endblock%}
