{% extends "base.html" %}
{% load bbcode_tags %}
{% bbcode entry.bbcode_content %}
{% block title %}{{ thread.title }}{% endblock %}
{% block extrahead %}
<meta name="robots" content="nofollow">
<style>
	.post { border: 1px solid #906020; margin: 10px; padding: 10px; }
	.permalink { color: #906020; font-family: monospace; margin: 0 0 0 10px; }
	.nickname { font-weight: 700; float: left; }
	.text { display: block; clear: both; }
	.date { color: #906020; font-size: 0.75rem; }
	.quoted { color: #906020; font-size: 0.875rem; }
	.quoted::before { content: "Цитата"; display: block; font-size: 0.67rem; }
	.quote2::before { content: "Цитата"; display: block; font-size: 0.67rem; }
	.size-1 { font-size: 0.67rem; }
	.size-2 { font-size: 0.75rem; }
	.size-3 { font-size: 0.825rem; }
	.size-4 { font-size: 1rem; }
	.size-5 { font-size: 1.1rem; }
	.size-6 { font-size: 1.25rem; }
	.size-7 { font-size: 1.33rem; }
	.size-8 { font-size: 1.5rem; }
	.size-9 { font-size: 1.75rem; }
</style>
{% endblock %}
{% block body %}
<h1><a href="{% url 'ghetto section' thread.section.sid %}">{{ thread.section.display_name }}</a></h1>
<h2>{{ thread.title }}</h2>
{% for post in posts %}
	<div class="post" id="post-{{ post.pid }}">
		<a class="permalink" href="#post-{{ post.pid }}">#{{ post.pid }}</a>
		<div class="nickname">{{ post.author.display_name }}</div>
		<p class="text">{{ post.text | bbcode | safe }}</p>
		<p class="date">{{ post.date_created }}</p>
	</div>
{% endfor %}
<script>
	quotes = document.getElementsByClassName('quoted');
	for (i=0; i<quotes.length; i++) {
		e = quotes[i];
		text = e.innerHTML.split(';');
		e.outerHTML = '<span class="quoted"><a href="#post-'+text[1]+'">'+text[0]+'</a></span>';
	}

	sizes = document.getElementsByClassName('size');
	for (i=0; i<sizes.length; i++) {
		e = sizes[i];
		size = e.dataset.size.replaceAll('"', '');
		e.outerHTML = '<span class="size-'+size+'">'+e.innerHTML+'</span>';
	}

	colors = document.getElementsByClassName('color');
	for (i=0; i<colors.length; i++) {
		e = colors[i];
		color = e.dataset.color.replaceAll('"', '');
		e.outerHTML = '<span style="color: '+color+'">'+e.innerHTML+'</span>';
	}
	posts = document.getElementsByClassName('post');
	for (i=0; i<posts.length; i++) {
		e = posts[i];
		e.innerHTML = e.innerHTML.replaceAll('[quote]', '<blockquote class="quote2">').replaceAll('[/quote]', '</blockquote>').replaceAll('http://slayers.ru/forum/showthread.php?t=', 'https://farc.slayers.ru/thr/');
	}
</script>
{% endblock%}
